@import "tailwindcss";
@tailwind utilities;

/* @custom-variant dark (&:is(.dark *)); */
:root {
  scroll-behavior: smooth;
}
@layer components {
  .head-section {
    @apply mx-auto max-w-7xl  min-h-screen max-md:px-8 max-sm:px-8;
  }
}
@theme {
  --color-primary: #6b9071;
  --color-secondary: #aec3b0;
  --color-schemaWhite: #e3eed4;
  --color-darkModePrimary: #0f2a1d;
  --color-darkModeSecondary: #375534;
  --fontSize-xs: 0.75rem;
  --fontSize-sm: 0.875rem;
  --fontSize-base: 1rem;
  --fontSize-lg: 1.125rem;
  --fontSize-xl: 1.25rem;
  --fontSize-2xl: 1.5rem;
  --fontSize-3xl: 1.875rem;
  --fontSize-4xl: 2.25rem;
  --fontSize-5xl: 3rem;
  --fontSize-6xl: 4rem;
}
